@inject NavigationManager NavigationManager

@rendermode InteractiveServer

<button @onclick="CreateGPU" class="btn btn-primary">Create New GPU</button>

@code {
    void CreateGPU()
    {
        NavigationManager.NavigateTo("/editgpu");
    }
}