@inject NavigationManager NavigationManager

@rendermode InteractiveAuto

<button @onclick="CreateGPU" class="btn btn-primary">Create a GPU</button>

@code {
    void CreateGPU()
    {
        NavigationManager.NavigateTo("/editgpu");
    }
}