@page "/GPUs"
@using GPUTestAnalysisFeb5.Entity
@using GPUTestAnalysisFeb5.Services

@inject IGPUService GPUService
@inject NavigationManager NavigationManager
@attribute [StreamRendering(true)]
@rendermode InteractiveServer

<h3>List of GPUs</h3>

@if(gpus == null)
{
    <span>Loading...</span>
}
else if (gpus.Count == 0)
{
    <span>No GPUs found.</span>
}
else
{
    <ul>
        @foreach (var gpu in gpus)
        {
            <li> @gpu.Type</li>
        }
    </ul>
}

<button @onclick="CreateGPU" class="btn btn-primary">Create GPU</button>

@code {
    List<GPU>? gpus = new();

    protected override async Task OnInitializedAsync()
    {
        gpus = await GPUService.GetAllGPUs();
    }

    void CreateGPU()
    {
        NavigationManager.NavigateTo("/editgpu");
    }
}
